name: Build with voidbr-pkgmake

on:
  push:
    branches: ["main"]
  pull_request:

  workflow_dispatch: # Permite a execução manual do workflow
    inputs:
      debug_enabled: # Input para habilitar o modo de depuração
        type: boolean
        description: "With TMATE"
        required: false
        default: false
      packager:
        type: string
        description: "Empacotador"
        required: true
        default: 'Vilmar Catafesta <vcatafesta@gmail.com>

  #  schedule:  # Executa automaticamente toda sexta-feira às 05:00
  #    - cron: '0 5 * * 5'

  repository_dispatch: # Permite a execução através de eventos de webhook
    types:
      - webhook
      - "**"

env:
  PKGMAKE_PRIVATE_KEY: "${{ secrets.PKGMAKE_PRIVATE_KEY }}"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DEBUG: true
      TERM: xterm
    # 2. Subir container VoidLinux e instalar tmate
    container:
      image: vcatafesta/voidlinux-docker:1.5 #seg 16 fev 2026 23:52:08 -04
      options: -v ${{ github.workspace }}:/workspace --privileged
    steps:
      - name: update
        run: |
          xbps-install -Syu xbps
          xbps-install --update --yes tmate openssh git

      # 3. Iniciar sessão tmate imediatamente dentro do container
      - name: Setup TMATE Session in CONTAINER
        uses: mxschmitt/action-tmate@v3
        if: env.DEBUG == 'true'
        with:
          install-dependencies: false
          detached: true

      - name: Checkout do repositório atual
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Checkout de outro repositório
        uses: actions/checkout@v4
        with:
          repository: vcatafesta/gitrepo
          fetch-depth: 1
          path: gitrepo

      - name: Create private.pem
        shell: bash
        run: |
          echo "$PKGMAKE_PRIVATE_KEY" > $HOME/.ssh/private.pem
          echo "$PKGMAKE_PRIVATE_KEY" > $HOME/.ssh/privkey.pem

      - name: Build pkg
        shell: bash
        run: |
          cd gitrepo/pkgfile
          pkgmake -s
