name: Build with voidbr-pkgmake

on:
  push:
    branches: ["main"]
  pull_request:

  workflow_dispatch: # Permite a execução manual do workflow
    inputs:
      tmate: # Input para habilitar o modo de depuração
        type: boolean
        description: "With TMATE"
        required: false
        default: false
      packager:
        type: string
        description: "Empacotador"
        required: true
        default: "Vilmar Catafesta <vcatafesta@gmail.com>"

  #  schedule:  # Executa automaticamente toda sexta-feira às 05:00
  #    - cron: '0 5 * * 5'

  repository_dispatch: # Permite a execução através de eventos de webhook
    types:
      - webhook
      - "**"

env:
  SSH_PRIVATE_KEY: "${{ secrets.SSH_PRIVATE_KEY }}"
  SERVER_HOST: "${{ secrets.SERVER_HOST }}"
  SERVER_USER: "${{ secrets.SERVER_USER }}"
  SERVER_PORT: "${{ secrets.SERVER_PORT }}"
  TS_VOIDREPO_HOST: "${{ secrets.TS_VOIDREPO_HOST }}"
  TS_VOIDREPO_PORT: "${{ secrets.TS_VOIDREPO_PORT }}"
  PKGMAKE_PRIVATE_KEY: "${{ secrets.PKGMAKE_PRIVATE_KEY }}"
  PKGMAKE_PACKAGER: "${{ github.event.client_payload.packager || inputs.packager || 'Vilmar Catafesta <vvcatafesta@gmail.com>' }}"
  DEBUG: "${{ github.event.client_payload.tmate || inputs.tmate || false }}"

jobs:
  build:
    #runs-on: ubuntu-latest
    runs-on: self-hosted
    env:
      #DEBUG: false
      TERM: xterm
    # 2. Subir container VoidLinux e instalar tmate
    container:
      image: vcatafesta/voidlinux-docker:1.5 #seg 16 fev 2026 23:52:08 -04
      options: -v ${{ github.workspace }}:/workspace --privileged
    steps:
      - name: update
        run: |
          xbps-install -Syu xbps
          xbps-install --update --yes voidbr-pkgmake void-utils tmate openssh git
          vinstall -Scc

      # 3. Iniciar sessão tmate imediatamente dentro do container
      - name: Setup TMATE Session in CONTAINER
        uses: mxschmitt/action-tmate@v3
        if: ${{ env.DEBUG == 'true' }}
        with:
          install-dependencies: false
          detached: true

      - name: Checkout do repositório atual
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Checkout de outro repositório
        uses: actions/checkout@v4
        with:
          repository: vcatafesta/gitrepo
          fetch-depth: 1
          path: gitrepo

      - name: Create private.pem
        shell: bash
        run: |
          rm -rf "$HOME/.ssh"
          rm -rf "/root/.ssh"
          mkdir -p "$HOME/.ssh"
          mkdir -p "/root/.ssh"

          {
            echo "Host repo"
            echo "  HostName $SERVER_HOST"
            echo "  Port $SERVER_PORT"
            echo "  User $SERVER_USER"
            echo "  IdentityFile ~/.ssh/id_rsa"
            echo "  IdentitiesOnly yes"
          }  > "/root/.ssh/config"

          echo "$PKGMAKE_PRIVATE_KEY" > "$HOME/.ssh/private.pem"
          echo "$PKGMAKE_PRIVATE_KEY" > "$HOME/.ssh/privkey.pem"
          chmod 700 "$HOME/.ssh"
          chmod 600 "$HOME/.ssh/private.pem"
          chmod 600 "$HOME/.ssh/privkey.pem"

          printf '%s\n' "$SSH_PRIVATE_KEY" > "/root/.ssh/id_rsa"
          chmod 700 "/root/.ssh"
          chmod 600 "/root/.ssh/id_rsa"
          chmod 600 "/root/.ssh/config"

          ssh-keygen -y -f "/root/.ssh/id_rsa" > "/root/.ssh/id_rsa.pub" || true
          ssh-keygen -l -f "/root/.ssh/id_rsa" || true
          ssh-keyscan -p "$SERVER_PORT"      -H "$SERVER_HOST"      >> "/root/.ssh/known_hosts" 2>/dev/null || true
          ssh-keyscan -p "$TS_VOIDREPO_PORT" -H "$TS_VOIDREPO_HOST" >> "/root/.ssh/known_hosts" 2>/dev/null || true

      - name: Create .chili-make-repo.conf
        shell: bash
        run: |
          {
            echo "[void]"
            echo "GPGKEY=A0D5A8312A83940ED8B04B0F4BAC871802E960F1"
            echo "SECRETKEY=lg63771588@"
            echo "local_PATH=$HOME/repodir"
            echo "remote_HOST=$SERVER_HOST"
            echo "remote_USER=$SERVER_USER"
            echo "remote_PATH=/home/$SERVER_USER/domains/chililinux.com/public_html/void/current"
            echo "remote_PORT=$SERVER_PORT"
            echo "PACKAGER='Vilmar Catafesta <gmail.com>'"
            echo "prefix_DB=void"
          } > "$HOME/.chili-make-repo.conf"

      - name: Build pkg
        shell: bash
        run: |
          cd gitrepo/pkgfile
          pkgmake -s --packager "$PKGMAKE_PACKAGER"

      - name: Atualizar pacote no repositorio
        shell: bash
        run: |
          chili-make-repo -A void
